version: '3.8'

services:
  tron_witness1:
    image: tronprotocol/java-tron:latest
    container_name: tron_witness
    networks:
      - tron_private_network
    ports:
      - "18888:18888"     # for syncing message between nodes
      - "18888:18888/udp" # for p2p node discovery
      - "8090:8090"       # for external http API request
      - "50051:50051"     # for external rpc API request
    volumes:
      - ./conf:/java-tron/conf
      - ./datadir:/java-tron/data
    command: >
        -jvm "{-Xmx10g}"
        -c /java-tron/conf/private_net_config_witness.conf
        -d /java-tron/data 
        -w

#  tron_witness2:
#    image: tronprotocol/java-tron:latest
#    container_name: tron_witness2         # change container_name
#    networks:
#      - tron_private_network
#    ports:                                # change discovery ports to avoid local ports conflicts
#      - "18887:18887"
#      - "18887:18887/udp"
#    volumes:
#      - ./conf:/java-tron/conf
#    command: >
#      -jvm "{-Xmx10g}"
#      -c /java-tron/conf/private_net_config_witness2.conf  # make sure you change the node.listen.port = 1887 aligned with above
#      -d /java-tron/data
#      -w

  tron_node1:
    image: tronprotocol/java-tron:latest
    container_name: tron_node1
    networks:
      - tron_private_network
    volumes:
      - ./conf:/java-tron/conf
    command: >
      -jvm "{-Xmx10g}"
      -c /java-tron/conf/private_net_config_others.conf
      -d /java-tron/data 


networks:
  tron_private_network:
    driver: bridge
