version: '3.8'

services:
  tron_witness1:
    image: tronprotocol/java-tron:latest
    container_name: tron_witness1
    networks:
      - tron_private_network
    ports:
      - "8090:8090"       # for external http API request
      - "50051:50051"     # for external rpc API request
    volumes:
      - ./conf:/java-tron/conf
      - ./datadir:/java-tron/data
    command: > 
        -jvm "{-Xmx10g}"
        -c /java-tron/conf/private_net_config_witness1.conf
        -d /java-tron/data 
        -w

  tron_witness2:
    image: tronprotocol/java-tron:latest
    container_name: tron_witness2         # change container_name
    networks:
      - tron_private_network
    volumes:
      - ./conf:/java-tron/conf
    command: >
      -jvm "{-Xmx10g}"
      -c /java-tron/conf/private_net_config_witness2.conf
      -d /java-tron/data
      -w

  tron_node1:
    image: tronprotocol/java-tron:latest
    container_name: tron_node1
    networks:
      - tron_private_network
    volumes:
      - ./conf:/java-tron/conf
    command: >
      -jvm "{-Xmx10g}"
      -c /java-tron/conf/private_net_config_others.conf
      -d /java-tron/data 

#  tron_node2:
#    image: tronprotocol/java-tron:latest
#    container_name: tron_node2   # just need change container_name
#    networks:
#      - tron_private_network
#    volumes:
#      - ./conf:/java-tron/conf
#    command: >
#      -jvm "{-Xmx10g}"
#      -c /java-tron/conf/private_net_config_others.conf
#      -d /java-tron/data

networks:
  tron_private_network:
    driver: bridge
